<div class="container-fluid">  
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tambah Kolom</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <%= simple_form_for [:admins, @kolom] do |f| %>
            <div class="row">
              <div class="col-4">
                <%= f.input :nama %>
              </div>      
            </div>
              <%= f.button :submit, class: "btn btn-info" %>
              <%= link_to "Cancel", admins_koloms_path, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
